---
---

@mixin transition($property) {
  -o-transition: $property;
  -moz-transition: $property;
  -webkit-transition: $property;
  transition: $property;
}

/*-----------------------------------------------------------------------------
# TYPOGRAPHY
-----------------------------------------------------------------------------*/

/* Colors */
$primary: #011C35;
$white: #ffffff;
$black: #000;

$font-family: "Rajdhani", "Titillium Web", "Open Sans", sans-serif;

html { width: 100%; height: 100%; }

body { width: 100%; height: 100%; font-family: $font-family; color: $black; background-color: $white;
  font-size: 18px; font-weight: 500; font-style: normal; line-height: 1; padding: 0; margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 { margin: 0 0 35px; text-transform: uppercase; font-weight: 700;
  letter-spacing: 1px; font-family: $font-family; color: $primary;
}

a.link {
  color: $primary; opacity: 0.8;
  &:hover, &:focus, &:active { opacity: 1; }
}

p { margin: 0 0 25px; font-size: 18px; line-height: 1.5; }
.post-content p { text-align: justify; }

@media(min-width:767px) {
  p { margin: 0 0 35px; font-size: 20px; line-height: 1.6; }
}

.video-link {
  color: $white; display: block;
  i {
    font-size: 90px;
  }
  i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
  }
  &:hover {
    cursor: pointer;
    i.animated {
      -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
    }
  }
}

.navbar-custom { margin-bottom: 0; border-bottom: 3px solid $primary; text-transform: uppercase;
  font-family: $font-family; font-weight: 500; background-color: $white;

  .navbar-brand { padding: 0; height: 90px;
    img { height: 90px; }

    &:focus { outline: none; }
    .navbar-toggle { padding: 4px 6px; font-size: 16px;
      &:focus, &:active { outline: none; }
    }
  }
  a { color: $black; }

  ul.nav {
    margin-top: 22px;

    li {
      &.active {
        outline: none; /*border-bottom: 3px solid $primary;*/
        a {
          &:hover, &:focus, &.active { border-bottom: 0; }
        }
      }
      a {
        &:hover,
        &:focus,
        &.active { outline: none; /*border-bottom: 3px solid $primary;*/ background-color: $white; }
      }
    }
  }
  .dropdown-menu > .active {
    > a,
    > a:hover,
    > a:focus { background: none; color: $black; border-left: 3px solid $primary; }
  }
}

.gm-style .gm-style-iw { color: initial; }

@media(min-width:767px) {
  .navbar { padding: 20px 0; letter-spacing: 1px; background: $white; @include transition(padding 0.5s ease-in-out); }
  .top-nav-collapse { padding: 5px 0; }
}

.intro,
.section-bkg { display: table; width: 100%; height: auto; text-align: center; background-color: $black;
  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
}
.intro { padding: 100px 0; color: $white;
  background: url(../img/intro-bkg-bw.jpg) no-repeat bottom center scroll;
  .intro-body { display: table-cell; vertical-align: middle;
    .brand-heading { font-size: 40px; font-family: "Titillium Web"; margin-top: 20%; }
    .intro-text { font-size: 18px; }
  }
}
.section-bkg { padding: 150px 0; background: url(../img/store-overview.jpg) no-repeat center bottom scroll;
  background-size: cover;
}

@media(min-width:767px) {
  .intro { height: 100%; padding: 0;
    .intro-body {
      .brand-heading { font-size: 55px; }
      .intro-text { font-size: 25px; }
    }
  }
}

.btn-circle { width: 70px; height: 70px; margin-top: 15px; padding: 7px 16px; border: 2px solid $white;
  border-radius: 35px; font-size: 40px; color: $white; background: transparent; @include transition(background .3s ease-in-out);
  &:hover,
  &:focus { outline: none; color: $white; background: fade($white, 10%); }
}

.bs-callout { padding: 20px; margin: 20px 0; border: 0; border-left: 5px solid;
  h4 { margin-top: 0; margin-bottom: 5px; }
  p { margin: 0; }
}
.bs-callout-info {
  h4 { color: $primary; }
  border-left-color: $primary;
}

@-webkit-keyframes pulse {
  0% { -webkit-transform: scale(1); transform: scale(1); }
  50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}

@-moz-keyframes pulse {
  0% { -moz-transform: scale(1); transform: scale(1); }
  50% { -moz-transform: scale(1.2); transform: scale(1.2); }
  100% { -moz-transform: scale(1); transform: scale(1); }
}

.content-section { padding-top: 100px; }

.intro-icon { font-size: 10em; margin-bottom: 50px; }

#services {
  background-color: $primary; color: $white;
  h2, h4 { color: $white; }
  .service-row { margin-bottom: 30px; }
  .service-item { margin-bottom: 30px; }
  .service-icon { font-size: 40px; margin-bottom: 10px; }
  .small-description { font-size: 16px; line-height: 16px;
    color: $white; opacity: 0.6; margin-bottom: 20px; }
  a.link { color: $white; }
}

.about-glasses {
  margin-bottom: 30px;
  span { margin: 0 15px; font-size: 35px; color: $primary; }
  img { border: 2px solid $primary; }
}

#map { width: 100%; height: 200px; }

@media(min-width:767px) {
  .content-section { padding-top: 100px; }

  #map { height: 400px; }
}

.btn { text-transform: uppercase; font-family: $font-family; font-weight: 400; @include transition(all .3s ease-in-out); }

.btn-default { border: 1px solid $primary; color: $primary; background-color: transparent;
  &:hover,
  &:focus { border: 1px solid $primary; outline: none; color: $black; background-color: $primary; }
}

ul.banner-social-buttons { margin-top: 0; }

@media(max-width:1199px) {
  ul.banner-social-buttons { margin-top: 15px; }
}

@media(max-width:767px) {
  .navbar-toggle { margin-top: 15px; }
  .navbar-header {
    .navbar-brand {
      height: 70px;
      img { height: 70px; }
    }
  }
  .navbar-custom {
    ul.nav {
      li {
        &.active {
          border-bottom: 0; /*border-left: 3px solid $primary;*/
          a {
            &:hover, &:focus, &.active { border-left: 0; }
          }
        }
        a {
          &:hover,
          &:focus,
          &.active { border-bottom: 0; /*border-left: 3px solid $primary;*/ }
        }
      }
      .open > a { background: none; border: 0; }
    }
  }
  ul.banner-social-buttons {
    li { display: block; margin-bottom: 20px; padding: 0;
      &:last-child { margin-bottom: 0; }
    }
  }
}

footer { padding: 50px 0;
  p { margin: 0; }
}

::-moz-selection { text-shadow: none; background: #fcfcfc; background: fade($white, 20%); }

::selection { text-shadow: none; background: #fcfcfc; background: fade($white, 20%); }

img::selection { background: transparent; }

img::-moz-selection { background: transparent; }

body { webkit-tap-highlight-color: fade($white, 20%); }

*[data-view=services] {
  .col-lg-3, .col-lg-9 { float: left; }
  .col-lg-3 { width: 25%; }
  .col-lg-9 { width: 75%; }
  .docs-sidenav {
    li > a { padding: 5px 15px; }
    > li { margin-bottom: 10px; }
  }
}

.previewer {
  padding: 0; position: fixed; width: 100%; height: 100%; z-index: 1000; top: 0; overflow: scroll;
  background: rgba(0,0,0,0.85); background-repeat: no-repeat; background-position: center center;
  @include transition(0.5s); cursor: pointer; text-align: center; display: table;
  div { display: table-cell; vertical-align: middle; }
  iframe { width: 1000px; height: 460px; }
  .video { padding-top: 150px; }
  .close { position: fixed; top: 150px; right: 27px; font-size: 30px; opacity: 0.3; cursor: pointer;
    display: block; height: 45px; width: 45px;
    &:hover { opacity: 1; }
  }
}

@media(max-width:1199px) {
  .previewer {
    iframe { width: 768px; height: 432px; }
  }
}

.quote {
  p { text-align: right; margin: 0 0 10px; }
  footer { padding: 0; }
}
