---
layout: master
---

<section class="container content-section" data-view="services">
  <div class="row">
    <div class="col-lg-3">
      <div>
        <ul class="nav docs-sidenav">
          {% for post in site.posts %}
            {% if post.role == 'optometria-comportamentale' %}
            <li class="menu-primary">
              <a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a>
              <ul class="nav">
              {% for subpost in site.categories.optometria %}
                <li class="menu-secondary">
                  <a href="{{ site.base_path }}{{ subpost.url }}">{{ subpost.title }}</a>
                </li>
              {% endfor %}
              </ul>
            </li>
            {% elsif post.role == 'visione-e-postura' %}
            <li class="menu-primary">
              <a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% elsif post.role == 'training-visivo' %}
            <li class="menu-primary">
              <a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% elsif post.role == 'sport-vision' %}
            <li class="menu-primary">
              <a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% elsif post.role == 'contattologia' %}
            <li class="menu-primary">
              <a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a>
              <ul class="nav">
              {% for subpost in site.categories.contattologia %}
                <li class="menu-secondary">
                  <a class="link-submenu" href="{{ site.base_path }}{{ subpost.url }}">{{ subpost.title }}</a>
                </li>
              {% endfor %}
              </ul>
            </li>
            {% elsif post.role == 'ipovisione' %}
            <li class="menu-primary">
              <a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endif %}
          {% endfor %}

        </ul>
      </div>
    </div>
    <div class="col-lg-9 post-content">
      {{ content }}
    </div>
  </div>
</section>