---
layout: master
---

<section class="container content-section" data-view="services">
  <div class="row">
    <div class="col-lg-3">
      <div>
        <ul class="nav docs-sidenav">
          <li>
            <label>Optometria comportamentale</label>
            <ul class="nav">
              {% for post in site.categories.optometria %}
                <li class=""><a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <label>Visione e Postura</label>
            <ul class="nav">
              {% for post in site.categories.postura %}
                <li class=""><a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <label>Training Visivo</label>
            <ul class="nav">
              {% for post in site.categories.training %}
                <li class=""><a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <label>Sport Vision</label>
            <ul class="nav">
              {% for post in site.categories.sport %}
                <li class=""><a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <label>Contattologia</label>
            <ul class="nav">
              {% for post in site.categories.contattologia %}
                <li class=""><a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <label>Ipovisione</label>
            <ul class="nav">
              {% for post in site.categories.ipovisione %}
                <li class=""><a href="{{ site.base_path }}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-9">
      {{ content }}
    </div>
  </div>
</section>